/* STYLE SECTIONING TAGS */
*{
  margin:0px;
  padding:0px
}

main{
  text-align: center;
  margin-top: 3em;
  margin-bottom: 0;
  margin-right: 20%;
  margin-left: 20%;
  color: white;
}

body {
 background-color: #000000; 
 color:#FCFBF4;
}

/* STYLE TEXT */

header {
  color: white;
  background-color:#000000;
  text-align: center;
  margin-top:3.5em;
}

p{
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  text-align: center;
}


h1{
  font-size: 5em;
  padding-top: 2em;
  padding-bottom:2em;
  background-image: url('assets/pink.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  line-height:2em;
}

h2{
  font-size: 5em;
  padding-top: 1.5em;
  padding-bottom:1.5em;
  background-image: url('assets/blue!.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  line-height:1.5em;
}

h3{
  font-size: 5em;
  padding-top: 1.5em;
  padding-bottom:1.5em;
  background-image: url('assets/purple.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  line-height:1.5em;
}

h4{
  font-size: 5em;
  padding-top: 1.5em;
  padding-bottom:1.5em;
  background-image: url('assets/grey.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  line-height:1.5em;
}

li.right {
    float: right;
}

/* STYLE IMAGES */
img{
  max-width: 20%;
  max-height: 20%;
  border-radius: 20%;
  border: 1px solid white;
  margin-bottom: 2em;
}


.intro{
  color: #f7f6f3;
  
}

#me {
  border-radius: 10%;
}

#ismb {
  border-radius: 10%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:25%;
  margin-top:2em;
  margin-bottom:1em;
}

ul {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  list-style-type: none;
  background-color: black;
  overflow: hidden;
  margin:0;
  box-sizing:border-box;
  padding: 1em;
}

li {
  display: inline;
  float:left;
}

li a{
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  padding: 1em;
}

.nav-home li a:hover {
  background-image: url('assets/pink.png');
}

.nav-port li a:hover{
  background-image: url('assets/blue!.png');
}

.nav-gall li a:hover{
  background-image: url('assets/purple.png');
}

.nav-contact li a:hover{
  background-image: url('assets/grey.png');
}

.image-cont {
  position: relative;
  display: inline-block;
  text-align:center;
  margin-top:0em;
  margin-left:17%;
}


.image-cont1 {
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  
}

.image-cont1 img{
  max-width: 20%;
  position: relative;
  display: inline-block;
  text-align:left;
  margin-top:1em;
  margin-left:10%;
}





.image-cont p, .image-cont a{
  color:white;
  font-family: "Calibri", Calibri, monospace;
  margin-left:1%;
}

.connect p, .connect a{
  color:white;
  font-family: "Calibri", Calibri, monospace;
}

.intro{
  text-align: center;
  margin-top: 3em;
  margin-bottom: 0;
  margin-right: 20%;
  margin-left: 20%;
  color: white;
}








/* STYLE NAV BAR */